.stretchsummary {
	border: 1px dashed gray;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

.stretchsummary:hover {
	border-style: solid;
}

.stretchsummary::after {
	content: "\00bb"; /* >> character */
	color: #88886d;
	padding-left: 3px;
	padding-right: 3px;
}

.stretchsummary + .stretchdetail {
	margin-left: 0.1em;
}

.stretchdetail {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}


.stretchdetail.stretchtext-open {
	opacity: 1;
	background-color: #FAF0E6;
}

.stretchsummary.stretchtext-open::after {
	content: "\00ab"; /* << character */
}